<html lang="en">


<head>
    <title>Fake News Detection</title>
    <link rel = "stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class = "navbar">
        <a href="/">Home</a>
        <a href = "/about">About</a>
    </div>
    <div class ="leftcol">
        <h1>Potentially Misleading</h1>
        <p class = "desc">The model has identified that the statement may be misleading. This does not necessarily mean it is 100% wrong, but it is a good indication to do further research.</p>
    </div>
    <div class = "midcol">
        <h1>Unsure</h1>
        <p class = "desc">The model has determined that it can't make a judgement. Usually this is a good indication to do more research.</p>
    </div>
    <div class = "rightcol">
        <h1>Potentially True</h1>
        <p class = "desc">The model judged that the statement is probably true. Note that this should not be taken as confirmed fact.</p>
    </div>
</body>
</html>