<html lang="en">


<head>
    <title>Fake News Detection</title>
    <link rel = "stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="title">
        <h1>Fake News Detection</h1>
    </div>

    <div class="input">
        <form action="/result" method="post" envtype="text/plain"> 
            <p>Input the link to the article:</p>
            <br>
            <input type="text" name="link">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>